/* YOUR SOLUTIONS HERE */

/* 1 */
.ex-1-square {
  transition: background 3s;
}

.ex-1-square:hover {
  background: red;
}


/* 2 */
.ex-2-square {
  transition: width 10s;
}


.ex-2-square:active {
  width: 100%;
}


/* 3 */
.ex-3-square {
  transition: border-radius 5s;
}


.ex-3-square:hover {
  border-radius: 50%;
}


/* 4 */
.ex-4-square {
  transition: background 3s;
}


.ex-4-square:hover {
  background: transparent;
}


/* 5 */
.ex-5-square {
  transition: transform 3s;
}


.ex-5-square:hover {
  transform: scale3d(1.5, 1.5, 1.5);
}

.ex-5-square:active {
  transform: scale3d(.5, .5, .5);
}


/* 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}


/* 7 */
.ex-7-img {
  transition: filter 5s;
}

.ex-7-img:hover {
  filter: sepia(1) contrast(0.8);
}


/* 8 */
.ex-8-img {
  transition: filter 2s 1s,
              border-radius 1s;
}

.ex-8-img:hover {
  border-radius: 8%;
  filter: saturate(0.2);
}


/* 9 */
.ex-9-img {
  transition: filter 2s,
              border-radius 1s,
              transform 3s;
}

.ex-9-img:hover {
  border-radius: 8%;
  filter: saturate(0.2);
  transform: scale3d(1.2, 1.2, 1.2);
}

/* 10 */
.ex-10-icon {
  animation: rotation-10 2s linear infinite;
}


@keyframes rotation-10 {
  100% {
    transform: rotate(360deg);
  }
}


/* 11 */
.ex-11-icon:hover {
  animation: rotation-11 3s linear infinite;
}


@keyframes rotation-11 {
  85% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(0);
  }
}


/* 12 */
.ex-12-button:hover .ex-12-top-white {
  animation: budge-12-top 4s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: budge-12-bottom 4s linear;
}

@keyframes budge-12-top {
  50% {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
  }

  100% {
    animation: none;
  }
}

@keyframes budge-12-bottom {
  50% {
    position: absolute;
    right: 100%;
    transform: translateX(100%)
  }

  100% {
    animation: none;
  }
}


/* 12 */
.ex-13-top-white {
  top: 0;
  transform: translateY(-100%);
}

.ex-13-bottom-white {
  bottom: 0;
  transform: translateY(100%);
}

.ex-13-button:hover .ex-13-top-white {
  animation: budge-13-top 5s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: budge-13-bottom 5s linear;
}

@keyframes budge-13-top {
  22.2% {
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateY(-100%);
  }

  35.2% {
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(0, 0);
  }

  72.2% {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate(-100%, 0);
  }

  85.2% {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, -100% );
  }

  100% {
    animation: none;
  }
}

@keyframes budge-13-bottom {
  18.5% {
    position: absolute;
    left: 0%;
    bottom: 0;
    transform: translate(-100%, 100%);
  }

  31.5% {
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: translate(-100%, 0);
  }

  68.5% {
    position: absolute;
    left: 100%;
    bottom: 100%;
    transform: translate(0, 0);
  }

  81.5% {
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: translate(0%, 100% );
  }

  100% {
    animation: none;
  }
}
